.login{
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('../img/menu2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.menu-imagen{
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('../img/menu.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
}

img{
    height: 70px;
}

.g{
    font-size: 11px;
}
.g th{
    background-color: #F8F9F9;
}

.x li{
    font-size: 10px;
}

.h{
    font-size: 11px;
}

.f p{

    font-size: 15px;


}
